# deps
node_modules/
.pnp
.pnp.js

# builds
.next/
out/
dist/
build/
.turbo/
.vercel

# env / secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# misc
coverage/
.cache/
